.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: rgb(192, 190, 190);
}
.main{

  text-align: center;
}
.heading{
  font: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}
.line{
    margin-left: 35%;
    background-color: blueviolet;
    height: 4px;
    width: 250px;
    margin-top: 1px;
    text-align: center;
    border-radius: 12px;
}

